body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#skills li {
    margin-bottom: 10px;
}

#projects .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    margin: 20px;
    width: 300px;
}
#projects .project-container {
    justify-content: flex-start;
    align-items: flex-end;
}


.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#resume a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

#contact a {
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
